*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FF9502;
}
.shop-notice{
    width: 1080px;
    height: 900px;
    /* background-color: blanchedalmond; */
    border-right: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);

    margin-top: -900px;
    margin-left: 198px;
    
}
h2{
    margin-left: 30px;
    /* margin-top: 30px; */

    display: block;
    height: 50px;
    line-height: 50px;
}
.notice-ul{
    width: 1080px;
    height: 400px;
    /* background-color: aquamarine; */
}
.notice-ul li{
    width: 100%;
    height: 80px;
    line-height: 60px;
    margin-left: 80px;
    /* margin-top: 40px; */
}
.notice-ul li input{
    /* float: left; */
    height: 30px;
    width: 200px;
    margin-left: 40px;
    /* margin-top: -50px; */
}
.notice-ul li textarea{
    width: 455px;
    height: 80px;
    margin-left: 20px;
    outline: none;
    font-size: 18px;
}
.notice-ul li select{
    width: 100px;
    height: 30px;
    margin-left: 20px;
}
.notice-ul li a{
    display: block;
    width: 100px;
    height: 100px;
    line-height: 30px;
    text-align: center;
    color: rgb(135, 134, 134);
    background-color: aliceblue;
    margin-left: 100px;
    margin-top: -40px;
    border: 1px solid rgb(196, 195, 195);
}
.announce,.clean-up{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #FF9502;
    margin-left: 200px;
    color: white;
}

.clean-up{
    border: 1px solid rgb(192, 192, 192);
    background-color: aliceblue;
    color: black;
}
.history-notice{
    height: 400px;
    margin-top: 20px;
    width: 100%;
    /* background-color: bisque; */
    overflow: auto;
    border-top: 1px solid rgb(192, 192, 192);

}
.search-notice{
    height: 40px;
    width: 310px;
    line-height: 40px;
    /* background-color: #FF9502; */
    margin-left: 450px;
    border: 1px solid;
    border-radius: 5px;

}
.search-notice input{
    height: 30px;
    width: 270px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-left: 5px;
}
.history-notice i{
    font-size: 20px;
    /* margin-top: -20px; */
    /* z-index: 999; */
}
.history-notice ul{
    /* height: 330px; */
    width: 100%;
    /* background-color: aquamarine; */
    
}
.history-notice ul li{
    /* clear: both; */
    float: left;
    width: 400px;
    height: 220px;
    margin-left: 100px;
    margin-top: 40px;

}
.history-notice ul li textarea{
    float: left;
    background-color: rgb(242, 248, 247);
    width: 330px;
    line-height: 30px;
    height: 200px;
    padding: 20px;
}