*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FF9502;
}
.sale-all{
    width: 1080px;
    height: 900px;
    /* background-color: blanchedalmond; */
    border-right: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-top: -900px;
    margin-left: 198px;
    overflow-y: auto;
    /* overflow-x: hidden; */
    
}
h2{
    margin-left: 30px;
    /* margin-top: 30px; */

    display: block;
    height: 50px;
    line-height: 50px;
}
.sale-all p{
    margin-left: 440px;

}
.income ul,.income img{
    float: left;
}
.income ul{
    width: 300px;
    height: 200px;
    margin-left: 40px;
    border: 1px dashed;
    background-color: antiquewhite;
}
.income ul li{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 30px;
}
.income img{
    width: 400px;
    height: 200px;
    margin-left: 150px;
}
.shop-sale{
    clear: both;
    /* overflow: auto; */
}
.shop-sale div{
    height: 60px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
}
.goods-sale{
    width: 800px;
    height: 180px;
    margin-left: 100px;
    border-right: 1px solid rgb(142, 146, 146) ;
    border-bottom: 1px solid rgb(142, 146, 146) ;
    border-collapse: collapse;
}
.goods-sale tr td{
    border-left: 1px solid rgb(142, 146, 146) ;
    border-top: 1px solid rgb(142, 146, 146) ;
    width: 100px;
    text-align: center;
    height: 30px;
}
.ul-sale{
    /* clear: both; */
    width: 1080px;
    height: 60px;
    /* margin-left: 40px; */
    /* background-color: aquamarine; */
}
.li-sale{
    float: left;
    width: 300px;
    height:60px ;
    line-height: 60px;
    margin-left: 140px;
    
}
#number{
    width: 200px;
    height: 30px;
    outline: 0;
    margin-left: 30px;
}
#goods-ID{
    width: 170px;
    height: 26px;
}
#put1,#put2{
    
    width: 52px;
    height:29px ;
    margin-top:20px; 
    background-color: #FF9502;
}
#put2{
    height: 28px;
}